h1 {
    text-align: center;
    font-family: Arial Black; 
  font-weight: bold; font-size: 30px; 
  background: #832877; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
  text-transform: uppercase;
      
  }
   
  body{
    background-color: #f8edf3;
    width: 100%;
    height: 100%;

  }
  #formulario-jugadores {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    border: 4px solid #8d1456;
    border-radius: 10px;

  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #8d1456;

  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #tamano-carton{
    width: 40px;
  }
  
  #boton-iniciar, #boton-sacarnum, #boton-jugador1, #boton-jugador2, #boton-jugador3, #boton-jugador4, #boton-reiniciar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #8d1456;
    border: 1px solid #8d1456;
    border-radius: 5px;
    cursor: pointer;
  }

 

  #boton-sacarnum {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 280px;
  }

  .form {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .formulario-visible {
    display: block;
  }
  
  .formulario-oculto {
    display: none;
  }

  .pinkbox{
    position: fixed;
    right: 20px;
    top: 100px;
    display: flex;
    height: 40px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(233, 210, 214);
    color: #333;
  }

  .box1{
    position: absolute;
    left: 50%;
    top: 170px;
    transform: translateX(-50%);
    display: flex;
    height: 90px;
    width: 90px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(233, 210, 214);
    color: #333;

  }

  #numero-ronda, #titulo-ronda, #titulo-puntaje, #numero-puntaje, #ver-cartones-contenedor{
    display: flex;
    margin: auto;
  }

  #nuevo-num{
    display: flex;
    margin: auto;
  }

  @media screen and (max-width: 500px) {
    .pinkbox, #ver-cartones-contenedor {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
  }



  
  #contenedor-juego {
    position: fixed ;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    padding: 5px;
    background: rgb(233, 210, 214);
    color: #333;
    background-image: url(./fondo.png)

  }

  #a {
    position: fixed;
    top: 60px;
    left: 70%;
    background-color: rgb(233, 210, 214);
    width: 150px;
    color: #8d1456;
    border: 1px solid #8d1456;
  }

  #ver-cartones-contenedor{
    display: grid;
    position: fixed;
    left: 70%;
    background-color: rgb(233, 210, 214);
    width: 150px;
    padding: 10px;
    color: #8d1456;
    border: 1px solid #8d1456;
    height: 300px;
    width: 150px;
    top: 130px;

  }

  body {
    overflow: scroll;
    height: 100%;
    width: 100%;
  }

  #boton-reiniciar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 20px;
    top: 350px;
    height: 40px;
    width: 180px;
    padding: 10px;}

  .container{
    position: fixed;
    left: 40%;
    top: 6dvh;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(240, 224, 224);
    padding: 40px 40px;
  }

  .game{
    width: 200px;
    height: 200px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
  }

  .item1{

    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #c26b9b;
  }

  .item2{

    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #c26b9b;
  }

  .item3{

    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #c26b9b;
  }

  #tablita {
    width: 500px; 
    margin: 20px auto; 
    border-collapse: collapse; 
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px; 
    text-align: center; 
  }
  
  th {
    background-color: #f2f2f2; 
    font-weight: bold; 
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9; 
  }



@media only screen and (max-width: 500px) {

  #tablita {
    width: 100%; 
  }
  
  th, td {

    padding: 1px;
  }
}

@media only screen and (max-width: 280px) {

  #tablita {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  
  th, td {

    display: block;
  }
  
  th:before {

    content: attr(data-header);
    display: block;
    color: #999;
    font-weight: bold;
    margin-bottom: 5px;
  }
  

  th {
    display: none;
  }
}
 


